h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 1.5rem;
}

#content {

    /* background-color: blue; */
   height: 100vh;
   text-align: center;
}
.nav-bar{
    text-align: right;
    button{
                background-color:white;
        cursor: pointer;
        border: 1px solid black;
        
    }
}
.tabbler {
    
    display: flex;
    justify-content: space-evenly;
    margin-left: 40%;
}

.tabs{
     padding: 1% 10%;
     margin-bottom: 5px;
}

.home-main, .menu-main, .contact-main{
    display: flex;
   height: 100vh;
    flex-direction: column;
    .home-container, .menu, .contact{
        margin: auto;
        color: white;
    } 
}
.home-main{
    background-image: url(./restaurant.jpg);
   background-size: cover;

}
.menu-main{
    background: linear-gradient(rgba(61, 61, 61, 0.5), rgba(78, 68, 68, 0.5)),
     url(./menu.jpg);
    background-position: right;
    background-size: contain;
}
.menu{
    
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    #menu1, #menu2, #menu3{
        border-radius: 0 60px 0 0;
        padding: 5%;
        text-align:justify;
        width: 23rem;
        height: 23rem;
        h3{
            border-bottom: solid 2px yellow;
            width: fit-content;
        }
        p{
            padding: 10% 5%;
        }
    }
    #menu1{
        background-image: url(./breakfast.jpg);
        background-size: cover;
        color: black;
    }
    #menu2{
        background-image: url(./lunch.jpg);
        background-size: cover;
        color: black;
    }
    #menu3{
        background-image: url(./dinner.jpg);
        background-size: cover;
        color: black;
    }

   
}

.contact-main{
    background-image: url(./contact.jpg);
    background-size: cover;
    background-position-y: 80%;

    h2{
        padding: 10%;
    }

    .chard{
        padding: 10% 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }
}

